body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: hsl(43, 91%, 21%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url('bg2.jpg');
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat; 
}

.logo {
  width: 200px;
  margin-top: 20px;
}

.pokedex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.pokedex-container {
  position: relative;
  width: 350px;
  height: 600px;
  background-color: transparent;
}

.pokedex-bg {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}

.pokemon-display {
  position: absolute;
  top: 95px; 
  left: 42px; 
  width: 265px;
  height: 250px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}

.pokemon-display img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.pokemon-info {
  position: absolute;
  top: 497px;       /* alinhado com o topo do painel verde */
  left: 61px;       /* centraliza certinho */
  width: 190px;     /* largura exata do painel verde */
  height: 75px;     /* altura proporcional */
  background-color: transparent; /* Tira o verde de fundo */
  color: black;
  font-size: 11px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  text-align: center;

  
}
.pokemon-info p,
.pokemon-info h2 {
  margin: 0;
  font-size: 11px;
  color: #003300;
text-shadow: 0 0 1px #ffffff;

}



input, button {
  padding: 10px;
  margin: 5px 0;
  font-size: 1em;
  border-radius: 5px;
  border: none;
}

input {
  width: 80%;
  border: 2px solid #333333;
}

input:focus {
  outline: none;
  border-color: #cc0000;
  box-shadow: 0 0 5px rgba(204, 0, 0, 0.5);
}

button {
  background-color: #cc0000;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid black;
  transition: background 0.2s;
}

button:hover {
  background-color: #990000;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 10px auto;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}

#error {
  color: white;
  margin-top: 10px;
  font-weight: bold;
  background-color: #990000;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 90%;
}

@media (max-width: 400px) {
  .pokedex-container {
    width: 90%;
    height: auto;
  }

  .pokemon-display img {
    width: 100px;
    height: 100px;
  }
}


